@font-face {
  font-family: 'AkzidenzGrotesk';
  src: url('AkzidenzGrotesk-Bold.woff') format('woff');
  font-style: normal;
}

* { box-sizing: border-box; }

img {
  width: 123%;
  height: 100%;
}

html {
  font-family: 'AkzidenzGrotesk';
}

body {
background: linear-gradient(#20B2AA,#1E90FF);
background-size: 400% 400%;
}

h1 {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 45px;
  text-align: center;
  color: yellow;
}

h2 {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 55px;
  text-align: center;
  color: white;
}

h3{
  font-family: 'AkzidenzGrotesk', sans-serif;
  font-size: 50px;
  text-align: center;
  color: white;
}

/*.dropdown {
  border-radius: 45px;
  padding: 10px;
  font-size: 40px;
}
.dropdown:hover {
    color: blue; */

a:hover {
color: ##00FF00;
text-decoration: none;
font-weight: bold;
}

.button-hover {

    color: ##00FF00;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transitiion: opacity 0.5s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    opacity: 0.9;
}

.button-hover:hover {
    opacity: 1;
}

svg{
  size: 500px;
}