@font-face {
  font-family: 'AkzidenzGrotesk';
  src: url('AkzidenzGrotesk-Bold.woff') format('woff');
  font-style: normal;
}

* { box-sizing: border-box; }

img {
  width: 123%;
  height: 100%;
}

html {
  font-family: 'AkzidenzGrotesk';
}

body {
background: linear-gradient(#20B2AA,#1E90FF);
background-size: 400% 400%;
transition: background 1s;
  }

h1 {
   font-family: 'AkzidenzGrotesk', sans-serif;
  font-size: 100px;
  text-align: center;
  color: #22F0FF;
}


h3{
  font-family: 'AkzidenzGrotesk', sans-serif;
    font-size: 60px;
    text-align: center;
    color: white;
    margin-top: -2%;
}


a:link {
  font-family: 'AkzidenzGrotesk', sans-serif;
  font-size: 60px;
  text-align: center;
  color: white;
  }

/* visited link */
a:visited {
 font-family: 'AkzidenzGrotesk', sans-serif;
  font-size: 60px;
  text-align: center;
  color: white;
  }

a:hover {
  font-family: 'AkzidenzGrotesk', sans-serif;
  font-size: 60px;
  text-align: center;
  color: #FF6337;
}
