@font-face {
  font-family: 'CooperHewitt';
  src: url('assets/CooperHewitt-Heavy.woff') format('woff');
  font-style: normal;
}
html {
	font-family: 'cooperhewitt';
}
body {background-color: #6DFFD8;}

h1{
    font-size: 790%;
    color: #6DFFD8;
    text-align: center;
    z-index: 1;
    padding-left: 20%;
    padding-right: 20%;
    position:absolute;
    z-index: 2;
}

/* unvisited link */
a:link {
  font-size: 100%;
  color: #6E75E7;
  text-align: center;
  z-index: 1;
  padding-left: 90%;
  position:absolute;
  z-index: 2;
  }

/* visited link */
a:visited {
  font-size: 100%;
  color: #6E75E7;
  text-align: center;
  z-index: 1;
  padding-left: 90%;
  position:absolute;
  z-index: 2;
  }

.circle{
	height: 100%;
    width: 80%;
    background-color: #6E75E7;
    border-radius: 50%;
    position:absolute;
    z-index: 1;
    animation-duration: 4s;
  	animation-name: slidein;
  	animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.11, 0.68, 0.81, 0.31);

}

@keyframes slidein {

0% {
    transform: translateX(-100%);
}
100% {
    transform: translateX(127%);
}
