@font-face {
  font-family: 'akzidenzgrotesk';
  src: url('assets/AkzidenzGrotesk-Bold.woff') format('woff');
  font-style: normal;
}

a img { 
  display:none; 
  margin:10px;

}
a:hover img { 
  display:block; 
  margin: 0;
}


a {
  color: red;
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
    margin: 4px 0;

}

.words {
	font-size: 180%;
  padding-top: 20%;
  padding-left: 30%;
}


body{
  height: 100%;
}

img{
  width: 20%;
  height: 20%;
}