body {
background-color: black;
}

.amity {
width: auto;
height: auto;
}

video {
  height: 100%;
  width: 100%;
}

div {
  text-align:center;
  width:100%;
}
iframe{
    width: 50%;
    height: 40%;
    padding-top: 0%;
}

.play{
	height: 50%;
	width: 50%;
    padding-top: 1%;
    padding-left: 20%;
}

img{
	height: auto;
	width: auto;
}

.container {
display: flex;
}


p {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
  color: white;
}