body {
  height: 3000px; /* Used to enable scrolling */
  background: linear-gradient(#1F7FC4, #C4781F);
}

.title{
	color: white;
	text-align: center;
}

@font-face {
  font-family: 'styrene';
  src: url('assets/StyreneB-Bold.woff2') format('woff2');
  font-style: normal;
}

h1 {
font-size: 25pt;
font-family: 'styrene';
color: yellow;
}

h2 {
font-size: 15pt;
font-family: 'styrene';
color: white;
}

h3 {
font-size: 20pt;
font-family: 'styrene';
color: #FFCD2F;
text-align: right;
}

h4 {
font-size: 14pt;
font-family: 'styrene';
color: magenta;
text-align: right;

}
h5 {
font-size: 20pt;
font-family: 'styrene';
color: #1FB0C4;
line-height: 1.6pt;
}
h6 {
font-size: 20pt;
font-family: 'styrene';
color: white;
line-height: 1.6pt;
}

.img1{
    height: 5%;
    width: 5%;
    position: absolute;
    top: 434px;
    left: 650px;
}

.text2{
	position: absolute;
    left: 20px;
    top: 540px;
}

.text3{
	position: absolute;
    left: 280px;
    top: 1290px;
    text-align: center;
}

.link{
	position: absolute;
    left: 280px;
    top: 1000px;
    text-align: center;
}

.img2{
	position: absolute;
    left: 800px;
    top: 1590px;
    height: 100px;
    width: 100px;
}

.text4{
	position: absolute;
    top: 1590px;
    text-align: right;
}

.text5{
	position: absolute;
    top: 2100px;
    left: 800px;
    text-align: left;
}

.img3{
	position: absolute;
  	top: 350px;
    left: 5px;
}

.img4{
	position: absolute;
  	top: 450px;
    left: -750px;
}
