body {
  height: 3000px; /* Used to enable scrolling */
  background: linear-gradient(#1F7FC4, #C4781F);
}

.title{
	color: white;
	text-align: center;
}

@font-face {
  font-family: 'styrene';
  src: url('assets/StyreneB-Bold.woff2') format('woff2');
  font-style: normal;
}

h1 {
font-size: 25pt;
font-family: 'styrene';
color: yellow;
}

h2 {
font-size: 15pt;
font-family: 'styrene';
color: white;
}

h3 {
font-size: 20pt;
font-family: 'styrene';
color: #FFCD2F;
text-align: right;
}

h4 {
font-size: 14pt;
font-family: 'styrene';
color: magenta;
text-align: right;

}
h5 {
font-size: 20pt;
font-family: 'styrene';
color: #1FB0C4;
line-height: 1.6pt;
}
h6 {
font-size: 20pt;
font-family: 'styrene';
color: white;
line-height: 1.6pt;
}

.img1{
    height: 5%;
    width: 5%;
    position: absolute;
    top: 48%;
    left: 50%;
}

.text2{
	position: absolute;
   left: 6%;
    top: 50%;
}

.text3{
	position: absolute;
    left: 17%;
    top: 139%;
    text-align: center;
}

.link{
	position: absolute;
        left: 20%;
    top: 105%;
    text-align: center;
}

.img2{
	position: absolute;
    left: 56%;
    top: 164%;
    height: 100%;
    width: 100%;
}

.text4{
	position: absolute;
     top: 165%;
    text-align: right;
}

.text5{
	position: absolute;
    top: 210%;
    left: 57%;
    text-align: left;
}

.img3{
	position: absolute;
  	top: 247%;
    left: 56%;
}

.img4{
	position: absolute;
  	 top:  274%;
    left: 4%;
}
