body {
	background-color: orange;
}

.question-container {
	background-color: turquoise;
	padding: 22px;
	font-family: arial;

}

.question{
	font-family: arial;
	font-size: 17px;
}

.answer{
	font-size: 25px;
	font-family: arial;
}

img {
	width: 25%;
	height: 25%;
}

a {
  color: black;
}


a:hover {
  color: yellow;
}

a:visited {
  color: black;
}